body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allCharDiv div {
  background: blue;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}
